
{{ define "main" }}
<main id="main" class="container mx-auto px-4">

  {{ if eq .Section "posts" }}
    <div class="post-heading">
      <h1 class="post-title">{{ .Title }}</h1>
      <div class="publish-metadata">
        {{ .PublishDate.Format .Site.Params.dateFormat }}
        {{ if .Site.Params.showWordCount }}
          &nbsp; <span>{{ .WordCount }} words</span>
        {{ end }}
        {{ if .Site.Params.showReadingTime }}
          &nbsp; <span>~{{ .ReadingTime }} {{ if gt .ReadingTime 1 }}mins{{ else }}min{{ end }}</span>
        {{ end }}
      </div>
    </div>

    {{ if .Params.tags }}
    <div class="tags">
      {{ range .Params.tags }}
        <a class="link tag" href='{{ "tags" | absURL }}/{{ . | urlize }}'>#{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}

    {{ if cond (ne .Params.toc nil) .Params.toc .Site.Params.toc }}
    {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
    <details>
      <summary><b>Table of Contents</b></summary>
      <div class="toc {{ if .Site.Params.numberedSubtitles }}numbered-subtitles{{ end }}">
        {{ .TableOfContents }}
      </div>
    </details>
    {{ end }}
    {{ end }}

    <article class="content {{ if .Site.Params.numberedSubtitles }}numbered-subtitles{{ end }}">
      {{ .Content }}
    </article>

  {{ else }}
  <article class="content {{ if cond (ne .Params.numberedSubtitles nil) .Params.numberedSubtitles .Site.Params.numberedSubtitles }}numbered-subtitles{{ end }}">
    {{ .Content }}
    </article>
  {{ end }}

 <!-- {{/* <button onclick="topFunction()" id="back-to-top" title="Go to top">Back to Top</button> */}}-->

  {{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
  {{ end }}
  <div style="margin-bottom: 10rem;"></div>
</main>

</main>
{{ end }}
